.text-plane {
    border: 2px solid #FFFFFF;
    background: #122638;
    border-radius: 3px;
}


@media screen and (min-width: 769px) {
    .text-plane-1 {
        padding: 16px 10%;
    }

    .text-plane-2 {
        padding: 16px 5% 16px 15%;
    }

    .text-plane-3 {
        padding: 16px 15% 16px 6%;
    }
}

@media screen and (max-width: 768px) {
    .text-plane-1 ,
    .text-plane-2 ,
    .text-plane-3 {
        padding: 2px;
        margin: 0;
    }
}