
.menu-button {
    height: 30px;
    width: 30px;
    cursor: pointer;
    padding: 8px;
    background: #FF2747;
    border: 2px solid #FFFFFF;
    border-radius: 4px;
}
.menu-button__line {
    display: block;
    width: 70%;
    margin: 30% 15%;
    height: 3px;
    background-color: #fff;
    position: absolute;
    left: 0;
    transition: all linear 0.2s;
}
.menu-button__line--top {
    top: 0;
}
.menu-button__line--middle {
    top: 9px;
}
.menu-button__line--bottom {
    top: 17px;
}
.menu-button-active .menu-button__line--top {
    top: 8px;
    transform: rotate(45deg);
}
.menu-button-active .menu-button__line--middle {
    opacity: 0;
}
.menu-button-active .menu-button__line--bottom {
    top: 8px;
    transform: rotate(-45deg);
}