.content-section {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    border-top: 1px solid #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
}

.content-section-default {
    background: url('/src/assets/pixels.png'), linear-gradient(90.02deg, rgba(116, 96, 223, 0.9) 4.5%, rgba(207, 82, 153, 0.965517) 23.17%, #FF4A74 48.4%, rgba(215, 80, 146, 0.971579) 73.13%, rgba(116, 96, 223, 0.9) 96.35%)
}

.content-section-alternative {
    background: linear-gradient(90.02deg, rgba(116, 96, 223, 0.9) 4.5%, rgba(207, 82, 153, 0.965517) 23.17%, #FF4A74 48.4%, rgba(215, 80, 146, 0.971579) 73.13%, rgba(116, 96, 223, 0.9) 96.35%), url('/src/assets/pixels.png');
    background-size: contain;
    background-blend-mode: overlay;
}

.content-section-alternative > .section-middle {
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    background: url('/src/assets/pattern.png');
    background-size: contain;
}

@media screen and (min-width: 769px) {
    .content-section-alternative,
    .content-section-alternative > .section-middle {
        background-size: contain;
    }
}
@media screen and (max-width: 768px) {
    .content-section-alternative,
    .content-section-alternative > .section-middle {
        background-size: cover;
    }
}