.content__subtitle {
    font-family: Borsok;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    color: inherit;
    text-align: center;
    margin-top: 8px;
}