.content-title {
    font-family: Bebas;
    font-style: normal;
    font-weight: bold;
    font-size: 55px;
    line-height: 50px;
    color: inherit;
}

.content-title-alt {
    color: #FF2747;
    -webkit-text-stroke: 2px #A31939;
}