.left-arrow {
    transform: translateY(-50%);
    background-position: center;
    background-repeat: no-repeat;
    padding: 0;
    width: 35px;
    min-height: 35px;
    position: absolute;
    top: 50%;
    background-image: url('/src/assets/left.png');
    animation: shake-right 2s infinite;
    background-size: cover;
}

.right-arrow {
    transform: translateY(-50%);
    background-position: center;
    background-repeat: no-repeat;
    padding: 0;
    width: 35px;
    min-height: 35px;
    position: absolute;
    right: 0;
    top: 50%;
    background-image: url('/src/assets/right.png');
    animation: shake-left 2s infinite;
    background-size: cover;
}

@keyframes shake-right {
    0% {
        transform: translate(0%, -50%);
    }
    50% {
        transform: translate(8px, -50%);
    }
    100% {
        transform: translate(0%, -50%);
    }
}

@keyframes shake-left {
    0% {
        transform: translate(0%, -50%);
    }
    50% {
        transform: translate(-8px, -50%);
    }
    100% {
        transform: translate(0%, -50%);
    }
}

.carousel-dot-inactive {
    cursor: pointer;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background-color: white;
    box-shadow: 0 0 0 0px white;
}
.carousel-dot-active {
    cursor: pointer;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background-color: white;
    box-shadow: 0 0 0 0px white;
}

.carousel-dot-inactive .inactive {
    margin-left: 1px;
    margin-top: 1px;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: white;
    transition: background-color 0.3s;
}

.carousel-dot-active .active {
    margin-left: 3px;
    margin-top: 3px;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: red;
    transition: background-color 0.3s;
}