@font-face {
    font-family: 'Noah';
    src: local('Noah'), url(./fonts/Noah.woff) format('woff');
}
@font-face {
    font-family: 'Bebas';
    src: local('Bebas'), url(./fonts/Bebas.woff) format('woff');
}

html {
    background-color: red;
    overflow: hidden;
    width: 100%;
  }
  
  body {
    height: 100%;
    position: fixed;
    /* prevent overscroll bounce*/
    background-color: lightgreen;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    /* iOS velocity scrolling */
    width: 50%;
    margin-left: 25%;
  }