@font-face {
    font-family: 'Noah';
    font-weight: normal;
    src: local('Noah'), url(./fonts/Noah.woff) format('woff');
}
@font-face {
    font-family: 'Noah';
    font-weight: bold;
    src: local('NoahBold'), url(./fonts/NoahBold.woff) format('woff');
}
@font-face {
    font-family: 'Bebas';
    src: local('Bebas'), url(./fonts/Bebas.woff) format('woff');
}
@font-face {
    font-family: 'HalvarEng-XBd';
    src: local('HalvarEng-XBd'), url(./fonts/HalvarEng-XBd.woff) format('woff');
}

html, body {
    margin: 0; height: 100%; overflow: hidden
}