@font-face {
    font-family: 'Borsok';
    src: local('Borsok'), url(./fonts/Borsok.woff) format('woff');
}
@font-face {
    font-family: 'Practicum';
    src: local('Practicum'), url(./fonts/Practicum.woff) format('woff');
}